@model IEnumerable<ArunServiceStation.Customer>

@{
    ViewBag.Title = "Register";
}

    <h2>History</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.VehicleNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MobileNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Provider)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AppointmentDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Timeslot)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category1.Catagory)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.VehicleNumber)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.MobileNumber)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Email)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Provider)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.AppointmentDate)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Timeslot)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Category1.Catagory)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
        @Html.ActionLink("Details", "Details", new { id = item.ID }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.ID })
    </td>
</tr>
}

</table>
